/* You can add global styles to this file, and also import other style files */
.custom-select {
  width: 50% !important;
}

.fa {
  font-size : 23px !important;
  margin-right: 5px;
  color: black;
  cursor: pointer;
}
